[submodule "simh"]
	path = simh
	url = https://github.com/MichaelMondy/simh.git
[submodule "data"]
	path = data
	url = git://github.com/MichaelMondy/multics-emul-data
[submodule "listings"]
	path = listings
	url = git://github.com/MichaelMondy/multics-emul-listings
